.AboutMe {
    scroll-snap-align: start;
    /* background-color: #d4d9dd; */
    /* background: #ff6b6b; */
}

.Skills {
    scroll-snap-align: start;
    /* background: rgba(150, 201, 61, 0.3); */
}

.Experience {
    /* background-color: #EEEEFF; */
    /* background: #4ecdc4; */
    /* background: none; */
}

.Achievements {
    /* background-color: #2e364a; */

}

.app-container {
    scroll-snap-type: y mandatory;
    width: 100%;
    /* background: white; */
    /* height: 100px; */
    margin: 20px auto;
    /* white-space: nowrap; */
    /* aspect-ratio: 1/1; */
    /* overflow-x: scroll; */
    overflow-y: auto;
    /* border: solid black 2px; */
}

.app {
    scroll-snap-align: start;
}

.app-container div{
    /* display: none; */
    /* height: 80%; */
    /* border-radius: 10%; */
    /* aspect-ratio: 1/1; */
    /* margin: 5px; */
    /* background: black; */
    scroll-snap-align: center;
    /* justify-content: center; */
}


.div-title{
    text-align: center;
    color: #748d92;
    font-size: 50px;
    margin-bottom: 0px;
}

.section-title-name {
    color: #d3d9d4;
    text-align: center;
    border-bottom: 1px solid #d3d9d4;
}

.NavBar {
    /* background-color: blue; */
    width: 3.5%;
    height: 70px;

    position: fixed;
    top: 0;
    right: 3%;

    z-index: 101;
    margin: 20px;
    border-radius: 2em;
    box-shadow: 1px 1px 10px rgba(211, 217, 212, 0.5);

    
    display: flex;
    align-items: center;
    justify-content: center;

    animation: float 3s ease-in-out infinite, glow 1.5s ease-in-out infinite;

}

.navigation-bar {
    /* background-color: white; */
    background-color: rgba(33, 42, 49, 0.8);
    width: 40%;
    height: 70px;

    position: fixed;
    top: 0;
    right: 3%;

    padding-right: 60px;
    margin: 20px;
    border-radius: 2em;
    box-shadow: 1px 1px 10px rgba(211, 217, 212, 0.5);

    display: flex;
    align-items: center;
    justify-content: center;

    animation: float 3s ease-in-out infinite, glow 1.5s ease-in-out infinite;
    z-index: 100;
}

.nav-btn {
    flex: 1;
    /* background: white; */
    /* color: #d3d9d4; */
    height: 65%;
    margin: 5px;
    text-align: center;
    padding: 3px;
    border-radius: 2em;
    color: #748d92;
    border: 2px solid #748d92;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    /* box-shadow: 1px 1px 10px rgba(211, 217, 212, 0.5); */
}

.nav-btn:hover {
    /* color: #212a31;
    background-color: #748d92; */

    color: #d3d9d4;
    background-color: #2e3944;
}

.navbar-fade-out {
    animation: fadeOut 2s forwards;

}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.NavBar-icon {
    width: 50%;
    height: 50%;
}

.NavBar:hover {
    background-color: rgba(211, 217, 212, 0.3);

}

@keyframes float {
    0% {
      transform: translateY(-4px);
    }
    50% {
      transform: translateY(4px);
    }
    100% {
      transform: translateY(-4px);
    }
}

@keyframes glow {
    0% {
      box-shadow: 0 0 10px #d3d9d4;
    }
    50% {
      box-shadow: 0 0 20px #d3d9d4, 0 0 30px rgba(211, 217, 212, 0.5);

    }
    100% {
      box-shadow: 0 0 10px #d3d9d4;
    }
  }