.polaroid {
    width: 80%;
    background-color: white;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 10px;
    margin-bottom: 25px;
    flex: 1;
}


.container {
    text-align: center;
    padding: 10px 20px;
}


.all-polaroid {
    display: flex;              /* Enable Flexbox */
    justify-content: space-between; /* Space blocks evenly (optional) */
    gap: 20px;                  /* Space between blocks */
}

.Experience-container {
    /* background-color: white; */
    width: 80%;;
    height: 300px;
    padding: 1em;
    display: flex;
    left: 50%;
    top: 50%;
    margin: auto;
    padding: 10px;
    gap: 1em;
}

.row1-col-left, .row2-col-right{
    flex: 2;
    /* border: 2px solid red; */
    border-radius: 2em;
    box-shadow: 3px 4px 10px 0 rgba(255, 255, 255, 0.5), -5px -4px 10px 0 rgba(255, 255, 255, 0.5);
}

.row1-col-left:hover, .row2-col-right:hover{
    flex: 2;
    /* border: 2px solid red; */
    border-radius: 2em;
    box-shadow: 3px 4px 100px 0 rgba(255, 255, 255, 0.5), -5px -4px 100px 0 rgba(255, 255, 255, 0.5);
    opacity: 50%;
}

.row1-col-right , .row2-col-left{
    flex: 1;
    /* border: 2px solid red; */
    border-radius: 2em;
    box-shadow: 3px 4px 10px 0 rgba(255, 255, 255, 0.5), -5px -4px 10px 0 rgba(255, 255, 255, 0.5);
}

.row1-col-right:hover, .row2-col-left:hover{
    flex: 1;
    /* border: 2px solid red; */
    border-radius: 2em;
    box-shadow: 3px 4px 100px 0 rgba(255, 255, 255, 0.5), -5px -4px 100px 0 rgba(255, 255, 255, 0.5);
    opacity: 50%;
}

.row1-col-left img, .row2-col-left img, .row1-col-right img, .row2-col-right img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 2em;
}